@import "bootstrap-sprockets";
@import "bootstrap";

html {
    overflow-y: scroll;
}

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

title {
    text-align: right;
}

footer {
    text-align: right;
}

span.glyphicon-shopping-cart {
    font-size: 1.5em;
}

h1 {
    text-align: center;
}